.cadre_principale {
    width: 1000px;
    height: auto;
    border: 6px solid rgb(0, 87, 99);
    background-color: coral;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


.vegeta {
    width: 190px;
}

.broly {
    width: 245px;
}

.versus {
    width: 260px;
}

img {
    border: 2px solid black;
    margin-top: 30px;
}

h1 {
    display : flex;
    justify-content: center;
}